.imgcontainer {
    height: 500px;
    width: 500px;
    text-align: center;
}

.publish {
    position: relative;
    .ql-container {
      height: 400px !important;
    }
}
  
.ant-upload-list {
    .ant-upload-list-picture-card-container,
    .ant-upload-select {
      width: 146px;
      height: 146px;
    }
  }
  .list{
    border:none;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(159, 126, 172);
  }