.email-form-container {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.email-form-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-form-title {
  font-size: 24px;
  color: #333;
}

.email-form-menu {
  font-size: 16px;
  color: #888;
}

.email-form-row {
  margin-bottom: 15px;
}

.email-form-label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.email-from-address {
  font-size: 16px;
  color: #333;
}

.email-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-form-input:focus {
  border-color: #666;
}

.email-form-send {
  padding: 10px 20px;
  background-color: #4B2E83;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.email-form-send:hover {
  background-color: #3A2373;
}

.email-form-row {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.email-form-input, .email-textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc; /* 设置下划线 */
  font-size: 16px;
  padding: 8px 0;
  margin-bottom: 20px; /* 添加额外的间距 */
}

.email-form-input:focus, .email-textarea:focus {
  outline: none;
  border-color: #666;
}

.email-textarea {
  height: 150px; 
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc; 
  border-radius: 4px; 
  resize: vertical; 
}




.email-form-input:focus, .email-textarea:focus {
  border-bottom: 2px solid #4B2E83; 
}


/* Shared button styles */
.email-form-button {
  padding: 10px 20px;
  background-color: #4B2E83; 
  color: white; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; 
}


.email-form-cancel {
  background-color: #4B2E83; 
  color: white;
}

.email-form-toolbar {
  display: flex;
  justify-content: flex-start; 
  gap: 10px; 
}


.email-form-button:hover, .email-form-cancel:hover {
  background-color: #3A2373; 
}




