.ant-btn-primary:hover {
  background-color: #fff !important; /* Change to a slightly darker color */
  border-color: #50123c !important;
  color: #50123c !important;
}

.ant-btn-primary {
  background-color: #9F7EAC !important; /* Change to your desired color */
  border-color: #9F7EAC !important;
}