.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
  }
  
  .product-card .ant-card-cover {
    flex-shrink: 0;
    height: 200px; 
  }
  
  .product-card-image {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .product-card-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .product-card .ant-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .product-card .ant-card-meta {
    flex-grow: 1; 
  }
  