
.thank-you-container {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thank-you-container h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.thank-you-container p {
  font-size: 1em;
  color: #666;
  margin-bottom: 30px;
}

.thank-you-container button {
  background-color: #9F7EAC;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #9F7EAC; /* 设置边框宽度和样式 */
}

.thank-you-container button:hover {
  background-color: #fff;
  color: #50123c;
  border-color: #50123c; /* 确保悬停时边框颜色仍然一致 */
}


