Image {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
  margin: 0;
  padding: 0;
}

.cancelButton {
  background-color: #9F7EAC !important; /* Change to a slightly darker color */
  border-color: #9F7EAC !important;
  color: #fff !important;
}