/node_modules
*.pack
/Frontend/bidheaven/node_modules
/Frontend/bidheaven/venv
/venv
.DS_Store
*.pyc
/Backend/handmadeBid/__pycache__
/Backend/venv
/Backend1/
/Frontend1
.DS_Store
/Backend/.DS_Store
/Backend/handmadeBid/.DS_Store
/Frontend/.DS_Store
/Frontend/bidheaven/src
/Backend/media/photos
/Frontend/bidheaven/.DS_Store
/Backend/handmadeBid/__pycache__
*.pack
/Backend/HandmadeBidSystem/__pycache__
/Frontend/bidheaven/node_modules
/Frontend/bidheaven/node_modules/.cache/.eslintcache
/Frontend/bidheaven/node_modules/.cache/default-development/index.pack.old