.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.logo-container img {
    height: 100px; 
}


.accountbutton .logOut {
    background-color: transparent;
    color: #50123c;
    font-weight: bold;
    border: none;
}
