/* Filter.css */
.large-segment .ant-segmented-item {
  padding: 10px 16px; /* Increase padding to make segments larger */
  font-size: 16px;    /* Increase font size if needed */
  /* You can add more styles here to adjust the segments' appearance */
  width: 150px;
  box-sizing: border-box;
  white-space: nowrap;

}
