/* 在你的 CSS 文件中添加 */
.abt-modal-footer .ant-btn .ant-modal-confirm-btns .ant-btn-primary {
  background-color: #50123c !important; /* 按钮背景颜色 */
  border-color: #50123c !important; /* 按钮边框颜色 */
}

.review-link, .review-link:visited, .review-link:active, .review-link:focus {
  color: #50123c; /* 链接颜色 */
  text-decoration: underline; /* 始终显示下划线 */
  outline: none; /* 移除焦点时的轮廓 */
}

/* Add this to your CSS file to change the OK button color */
.ant-modal .ant-btn-primary {
  background-color: #9F7EAC !important; /* Change to your desired color */
  border-color: #9F7EAC !important;
}

/* Optional: Change the hover state color */
.ant-modal .ant-btn-primary:hover {
  background-color: #fff !important; /* Change to a slightly darker color */
  border-color: #50123c !important;
  color: #50123c !important;
}

/* Optional: Change the hover state color */
.ant-modal .ant-btn-default:hover {
  background-color: #fff !important; /* Change to a slightly darker color */
  border-color: #50123c !important;
  color: #50123c !important;
}

.ant-input:hover {
    border-color: #50123c !important;
}

